*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: antiquewhite;
}

.navlist{
    display: flex;
}

.nav {
    color: antiquewhite;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid antiquewhite;
}

#menu-icon{
    color: antiquewhite;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}

.hero{
    height: 100%;
    width:100%;
    min-height:100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hero .console{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    overflow-x: auto;
    scroll-behavior: auto;
    scroll-behavior: smooth;
    max-height: 800px;
    
}
.hero .console::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #000000;
	border-radius: 10px;
}

.hero .console::-webkit-scrollbar
{
	width: 4px;
    height: 5px;
	background-color: #000000;
}

.hero .console::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #000000;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}
.data{
    height: 100%;
    width:100%;
    min-height:100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    position: relative;
    
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
}
section{
    padding: 0 12%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height:1;
    color: white;
    margin: 0 0 45px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 15px;
    line-height:1.9;
    color: white;
    margin-bottom: 40px;
} 
.console {
    background-color: rgb(17, 56, 14);
    width: 90%;
    margin: auto;
    height: 60%;
    border-radius: 10px;
    padding: 10px;
    text-align: start;
}

.hero-text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text button{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text button:hover{
    background: transparent;
    border: 1px solid white;
    transform: translate(8px);
    padding: 12px 30px;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translate(8px);
    padding: 12px 30px;
}

.hero-text .but{
    display: flex;
    
}

.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left:20px;
    
}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    display: block;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}